<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<!-- include java script in the footer -->
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<title>Spring Boot + MongoDB deployed in k8s cluster using Jenkins</title>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Spring Boot + MongoDB deployed in k8s cluster using Jenkins</h1>
		<div class="col-md-6">
			<form name="saveUser" action="/save" method="post"
				class="form-horizontal">
				<div class="form-group">
					<label for="Name">Name:</label> <input type="text"
						id="Name" class="form-control" placeholder="Name"
						name="Name" />
				</div>

				<div class="form-group">
					<label for="MobileNo">Mobile Number:</label> <input type="text"
						id="MobileNo" class="form-control" placeholder="Mobile Number"
						name="Mobile Number">
				</div>

				<div class="form-group">
					<label for="email">Email Id:</label> <input type="email" id="email"
						class="form-control" placeholder="Email Id" name="email">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
		</div>


		<div class="col-md-12">
			<h2>Saved Users</h2>
			<table id="usersTable" class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Mobile Number</th>
						<th>Email Id</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>


		<div class="row-md-8">
			<div class="col-md-3">
				<img th:src="@{/img/kishanth.jpg}" alt="Pink flamingo." height="400">
			</div>
			<div class="col-md-8">
				<h4 class="text-center">Kishanth R - Senior Engineer</h4>
				<h4 class="text-center">Contact @ +91-9087070125</h4>
				<h5 class="text-center">
					Copyrights 2020 by <a href="http://13.233.114.192:8080/">kishanth</a>
				</h5>
			</div>
		</div>

	</div>

	<script>
		$.ajax({
			url : "/api/users",

			success : function(response) {
				$.each(response, function(i, item) {
					var row = $("<tr />");
					$("#usersTable").append(row);

					row.append($("<td>" + item.id + "</td>"));
					row.append($("<td>" + item.Name + "</td>"));
					row.append($("<td>" + item.MobileNo + "</td>"));
					row.append($("<td>" + item.email + "</td>"));

				});
			}
		})
	</script>
</body>
</html>
